html {
	scrollbar-gutter: auto !important;
}
body {
	width: 20rem;
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0 1rem;
}
@media (prefers-color-scheme: dark) {
	body {
		color: rgb(222, 225, 230);
		background-color: black;
	}
}

#root > div:not(:last-of-type) {
	border-bottom: 2px solid #d5d6d8;
}
@media (prefers-color-scheme: dark) {
	#root > div:not(:last-of-type) {
		border-bottom: 2px solid gray !important;
	}
}
