body {
	width: 20rem;
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0 1rem;
	user-select: none;
}
@media (prefers-color-scheme: dark) {
	body {
		color: rgb(209 213 219);
		background-color: #1e2127;
	}
}

body > #root > div:not(:last-of-type) {
	border-bottom: 2px solid #e5e7eb;
}
@media (prefers-color-scheme: dark) {
	body > #root > div:not(:last-of-type) {
		border-bottom: 2px solid gray !important;
	}
}

/* トークン */
.token-container {
	padding: 1rem 0.5rem;
}
.token-container > span {
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.token-container > input {
	width: 100%;
	box-sizing: border-box;
	margin-top: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #e5e7eb;
	border-radius: 0.375rem;
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
}
.token-container > input:focus {
	outline: 2px solid#007bff;
}
.token-container > div {
	display: flex;
}
.token-container > div > span {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	color: green;
}
.token-container > div > a {
	display: inline-flex;
	position: relative;
	height: fit-content;
	margin-left: auto;
	top: 0.25rem;
	right: 0.25rem;
	color: rgb(59 130 246);
	font-size: 0.75rem;
	line-height: 1rem;
	text-decoration: none;
}
.token-container > div > a:hover {
	text-decoration: underline;
}
.token-container svg {
	stroke: #4b5563;
	width: 0.8rem;
	height: 0.8rem;
	margin: auto;
	margin-left: 0.1em;
}
@media (prefers-color-scheme: dark) {
	.token-container > input {
		color: rgb(209 213 219);
		background-color: #303030;
		border-color: transparent !important;
	}
	.token-container svg {
		stroke: #d1d5db !important;
	}
}

/* 視聴データの送信タイミング・UIの変更 */
.radio-checkbox-container {
	padding: 1rem 0.5rem;
}
.radio-checkbox-container > p {
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin: 0;
}
.radio-checkbox-container > div {
	margin-top: 0.5rem;
}
.radio-checkbox-container label {
	display: flex;
	align-items: center;
	margin-bottom: 0.25rem;
}
.radio-checkbox-container input {
	min-width: 1rem;
	min-height: 1rem;
	margin-right: 0.75rem;
	margin-top: auto;
	margin-bottom: auto;
}
