html {
	scrollbar-gutter: auto !important;
}
body {
	width: 20rem;
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0 1rem;
	user-select: none;
}
@media (prefers-color-scheme: dark) {
	body {
		color: rgb(209 213 219);
		background-color: black;
	}
}

body > #root > div:not(:last-of-type) {
	border-bottom: 2px solid #e5e7eb;
}
@media (prefers-color-scheme: dark) {
	body > #root > div:not(:last-of-type) {
		border-bottom: 2px solid gray !important;
	}
}
