body {
    width: 330px;
}

#button-container {
    display: flex;
    padding: 5px;
}

.input-style {
    padding: 10px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input-style:focus {
    border-color: #007bff;
}

button {
    color: #090909;
    padding: 0.4em 1.7em;
    font-size: 18px;
    border-radius: 5px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .2s;
    white-space: nowrap;
}

button:hover {
    background: #d7d7d7
}

button:active {
    background: #515151;
    color: white;
}

.setting-container {
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    background-color: #e8e8e8;
    user-select: none;
}

.setting-title {
    width: fit-content;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

label:not(:last-of-type) {
    margin-bottom: .5em;
}

label>input {
    width: 20px;
    height: 20px;
    margin: 0 1em 0;
}